streamlit>=1.30.0
streamlit-authenticator==0.2.3
psycopg2-binary
psycopg
pandas
openai
google-genai
PyMuPDF
requests
python-dotenv
pytesseract
Pillow
qrcode[pil]
python-docx
openpyxl
SQLAlchemy
twilio

werkzeug
